{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="chart-container" style="position: relative;">
                        <canvas id="income_vs_expense"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="chart-container" style="position: relative;">
                        <canvas id="income_vs_category"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% block javascript %}
<script>
    let income_vs_expense_data = JSON.parse({{ income_vs_expense | tojson }});
    let category_camparison_data = JSON.parse({{ category_camparison | tojson}});
    let over_time_expenditure_data = JSON.parse({{ over_time_expenditure | tojson }});
    let dates_label_data = JSON.parse({{ dates_label | tojson }});

    // Chart.scaleService.updateScaleDefaults('linear', {
    //         ticks: {
    //             min: 0
    //         }
    // });

    let income_vs_expense_chart = new Chart(income_vs_expense, {
            type: 'pie',
            data: {
            labels: ['expense', 'income'],
                datasets: [{
                    label: "Income Vs Expenses",
                    data: income_vs_expense_data,
                    backgroundColor: ['#5DA5DA ', '#FAA43A', '#60BD68',
                        '#B276B2', '#E16851', '#FB8267'],

                    borderWidth: 1,
                    hoverBorderColor: "black",
                    hoverBorderWidth: 2,
                    hoverBackgroundColor: 'rgba(154, 245, 140)',
                    pointHoverRadius: 5
                }],
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0
                        }
                    }]
                },
                title: {
                    display: true,
                    text: "Income Vs Expenses",
                    fontSize: 20,
                },
                legend: {
                    position: "right",
                    labels: {
                        fontColor: "gray"
                    },
                    display: true,
                },
                elements: {
                    hitRadius: 3,
                }
            }

        });


</script>
{% endblock %}

{% endblock %}